*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
} 

/*header*/
header{
    background-color: rgb(173,216,230);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-header{
    height: 60px;
    width: 100%;
    display: flex;
    font-size: 25px;
    font-family: sans-serif;
    
}

.col-header{
    background-color:rgb(218,165,32) ;
    height: 60px;
    width: 100%;
    border: dashed 2px black;
    display: flex;
    align-items: center;
    width: 900px;
}


ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li{
    padding: 10px;
}

/*main*/
.conteiner{
    background-color: red;
}

.row{
    width: 100%;
    height: 400px;
    border: solid 1px gray;
    display: flex;
}

.col{
    height: 350px;
    border: dashed 2px black;
}

/*footer*/
footer{
    background-color:rgb(35, 39, 42);
}

.row-footer{
    display: flex;
}

.col-footer{
    height: 380px;
    display: flex;
}

.border-col-footer{
    border: dashed 2px white;
}

.logo,button{
    background-color: rgb(211, 211, 211);
    border: dashed 2px black;
    padding: 10px;
    font-family: sans-serif;
    height: 30px;
    display: flex;
    align-items: center;
}


/*background color*/
.bg-blue{
    background-color:rgb(0,0,139) ;
}

.bg-white{
    background-color:white;
}

.bg-gray{
    background-color: rgb(211, 211, 211);
}

.bg-pink{
    background-color:rgb(238, 130, 238);
}

.bg-1E9FF{
    background-color:#1E90FF;
}

.bg-FFC0CB{
    background-color: #FFC0CB;
}

.bg-228B22{
    background-color: #228B22;
}

.bg-F08080{
    background-color: #F08080;
}

.bg-20B2AA{
    background-color: #20B2AA;
}

.bg-7FFFD4{
    background-color: #7FFFD4;
}


/*width*/
.width-700{
    width: 700px;
}

.width-400{
    width: 400px;
}

.width-200{
    width: 200px;
}

.width-500{
    width: 500px;
}

.width-900{
    width: 900px;
}

.width-300{
    width: 300px;
}

.width-150{
    width: 150px;
}


/*height*/
.height-600{
    height: 600px;
}

.height-550{
    height: 550px;
}

.height-400{
    height: 400px;
}

.height-60{
    height: 60px;
}

.height-70{
    height: 70px;
}


/*position items*/
.justify-content-center{
    justify-content: center;
}

.justify-content-end{
    justify-content: flex-end;
}

.aling-items-center{
    align-items: center;
}

.row-reverse{
    flex-direction: row-reverse;
}

.aling-items-end{
    align-items: flex-end;
}

.space-between{
    justify-content: space-between;
}



